.story {
    display: flex;
    flex-direction: column;
    align-items: center;
  .direction-container {
    display: flex;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
    color: #db2763;
    :nth-child(2){
        text-align: right;
    }
  }
  .content {
      text-align: justify;
      border-top: 4px double #db2763;
      border-bottom: 4px double #db2763;
      padding: 1%;
  }
}
