.help {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  p.col-12 {
    text-align: justify;
    text-align-last: center;
    &:nth-of-type(2) {
      text-align: center;
      font-weight: bold;
    }
  }
  .link-container {
    display: inherit;
    flex-direction: row;
    text-align: center;
    a {
      text-decoration: none;
      color: #db2763;
      &:first-of-type {
        margin-left: 6%;
      }
      &:last-of-type {
        margin-left: -10%;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &:last-of-type {
      margin-top: 5%;
      justify-content: center;
      div {
        display: inherit;
        justify-content: inherit;
        align-items: center;
        border: 2px solid #db2763;
        margin: 2%;
        margin-top: 0% !important;
        height: 10em;
        &:hover {
          background-color: #db2763;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.fade {
  position: absolute;
  background-color: grey;
  width: 100vw;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  .popup {
    position: absolute;
    background-color: white;
    border: 5px solid #db2763;
    width: 80%;
    height: 25em;
    .support {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      p:nth-of-type(2) {
        color: #db2763;
        font-weight: bold;
        text-align: center;
        margin-top: -3%;
      }
      p:last-of-type {
        text-decoration: underline;
        font-weight: bold;
        margin-top: -1%;
        cursor: pointer;
        width: fit-content;
      }
      a {
        color: #db2763;
        &:hover {
          background: #db2763;
          color: white;
        }
      }
      ul {
        list-style: none;
        div {
          display: flex;
          flex-direction: column;
          border: 2px dotted #db2763;
          width: fit-content;
          margin: 0 auto;
          padding: 2%;
          margin-top: 1%;
          li {
            margin-top: 1%;
            &:before {
              content: "\2605";
              color: #db2763;
            }
          }
        }
      }
    }
  }
}
