@import "navbar";
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Open+Sans&display=swap');
@import "columns";

$titleFont: "Clicker Script", cursive;
$bodyFont: "Open Sans", sans-serif;

#title {
  font-family: $titleFont;
  text-align: center;
  font-weight: bold;
  font-size: 6vh;
  letter-spacing: 3%;
  color: #DB2763;
}

#body {
    font-family: $bodyFont;
    font-weight: bolder;
    font-size: 2.5vh;
}