@import "navbar";
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Open+Sans&display=swap');
@import "columns";

$titleFont: "Clicker Script", cursive;
$bodyFont: "Open Sans", sans-serif;

#title {
  font-family: $titleFont;
  text-align: center;
  font-weight: bold;
  font-size: 5vh;
  letter-spacing: 3%;
}
